<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-shopping-bag"></i>
        </div>
        <div class="sidebar-brand-text mx-3">POS</div>
    </a>

    <hr class="sidebar-divider my-0">

    <% if (user.role==='admin' ) { %>
        <li class="nav-item <%= currentPath.startsWith('/dashboard') ? 'active' : '' %>">
            <a class="nav-link" href="/dashboard">
                <i class="fas fa-fw fa-home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">MASTER</div>
        <li
            class="nav-item <%= currentPath.startsWith('/goods') || currentPath.startsWith('/units') ? 'active' : '' %>">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGoods"
                aria-expanded="<%= currentPath.startsWith('/goods') || currentPath.startsWith('/units') ? 'true' : 'false' %>"
                aria-controls="collapseGoods">
                <i class="fas fa-fw fa-warehouse"></i>
                <span>Goods Utilities</span>
            </a>
            <div id="collapseGoods"
                class="collapse<%= currentPath.startsWith('/goods') || currentPath.startsWith('/units') ? ' show' : '' %>"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Goods Components:</h6>
                    <a class="collapse-item <%= currentPath.startsWith('/goods') ? 'active' : '' %>"
                        href="/goods">Goods</a>
                    <a class="collapse-item <%= currentPath.startsWith('/units') ? 'active' : '' %>"
                        href="/units">Units</a>
                </div>
            </div>
        </li>
        <li class="nav-item <%= currentPath.startsWith('/users') ? 'active' : '' %>">
            <a class="nav-link" href="/users">
                <i class="fas fa-fw fa-user"></i>
                <span>Users</span>
            </a>
        </li>
        <% } %>
            <li class="nav-item <%= currentPath.startsWith('/suppliers') ? 'active' : '' %>">
                <a class="nav-link" href="/suppliers">
                    <i class="fas fa-fw fa-truck"></i>
                    <span>Suppliers</span>
                </a>
            </li>
            <li class="nav-item <%= currentPath.startsWith('/customers') ? 'active' : '' %>">
                <a class="nav-link" href="/customers">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Customers</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">TRANSACTIONS</div>
            <li class="nav-item <%= currentPath.startsWith('/purchases') ? 'active' : '' %>">
                <a class="nav-link" href="/purchases">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                    <span>Purchases</span>
                </a>
            </li>
            <li class="nav-item <%= currentPath.startsWith('/sales') ? 'active' : '' %>">
                <a class="nav-link" href="/sales">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Sales</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
</ul>